<template name="categorieItem">
    <div class="categories">
        <form class="article">
        <div class="categoriesList">
            <h3>

                <div class="row">
                    <div class="col-lg-12">
                <img style="height: 150px; width:150px;" src="/images/{{image}}">
                    </div>
                    <div class="col-lg-12">
                        <a  id="btn" href="/categories/{{name}}" class="btn waves-effect waves-purple">voir</a>
                        {{name}}
                    </div>
                </div>
            </h3>
        </div>
        </form>
    </div>
</template>